<div class="signup-page mob-bx">
  <div style="background-image: url('{{rc.loginimage.image}}');" class="sinupimg-container"></div>
  <div class="sign-up-holder">
    <div class="logo-container">
      <a ui-sref="landing"><img src="{{rc.getsetting.logo}}"></a>
    </div>
    <ul class="sign-btns">
      <!--<li><a class="blue-btn" href="/social/user">{{'USER_LOGIN' | translate}}</a></li> -->
      <li><a class="blue-btn" ui-sref="userlogin">{{'USER_LOGIN' | translate}}</a></li> 
      <!--<li><a class="grn-btn" ui-sref="taskerlogin">{{'TASKER_LOGIN' | translate}}</a></li>-->
	  <li><a class="grn-btn" ui-sref="taskerlogin">{{'Service Provider Login' | translate}}</a></li>
      <!--<li><small class="u-align--center intent-sub">( Requires background check and quiz )</small></li>-->
    </ul>
  </div>
</div>
