

<meta charset="UTF-8">
<meta name="description" content="{{PAC.data.seo.description}}">
<meta name="keywords" content="{{PAC.data.seo.keyword}}">
<meta name="title" content="{{PAC.data.seo.title}}">

<div class="container terms_cnt {{PAC.data.seo.title}}">
		<div ng-bind-html="trustedHtml" class="st-pge"></div>
	<!--<div class="row">
		<div class="col-md-6">
			<lable>
				Title
			</lable>
		</div>
		<div class="col-md-6">
			<lable>
				{{PAC.data.seo.title}}
			</lable>
		</div>	
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<lable>
				Keyword
			</lable>
		</div>
		<div class="col-md-6">
			<lable>
				{{PAC.data.seo.keyword}}
			</lable>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6">
			<lable>
				Description
			</lable>
		</div>
		<div class="col-md-6">
			<lable>
				{{PAC.data.seo.description}}
			</lable>
		</div>	
	</div>-->
	

</div>