extends layout_ar

block vars
  - var title='Step 3'
  - var description = 'Tasker Registration'

block content
  form(action='/mobile/provider/arabic/register/step4?lang='+lang, method='post')
    .applyto-tasker.apply6
      .container2
        .full-holder
          //h1.top-texts Apply To Be A Tasker
          h1.top-textsinput(class='backbutton',action='action', type='button', value='Back', onclick='history.go(-1);') #{ __("الى الخلف") } | #{ __("تقدم بطلب ") }  #{تاسكر}
          .tasker-pannel
            .tasker-head
            .tasker-body
              p.pic-dec
                share
                  | #{ __(" صورة من رقبتك تساعدك على وضع أفضل ما لديك قدمًا مع العملاء المحتملين. ابتسامة حقيقية تقطع شوطا طويلا") }!
              .btn-contee
                .filetype-holdr
                  input#upload.pic-up(type='file', name='userimage')
                  input#image64.pic-up(type='hidden', name='userimage64')
                  span.uplor-pice #{ __("حمل الصورة") }
              a.blue-btn.upload-result.uploadanother(href='/mobile/provider/register/step3?lang='+lang, style='display:none') تحميل صورة أخرى
            .upload-demo-wrap
              #upload-demo
            .left-pic
              img#myImg(src=siteurl+'uploads/images/users/user.jpg',onchange=siteurl+userimage,style='height:auto')
              img#loader(src=siteurl+'app/site/public/images/loader.gif',style='display:none')
              .righ-side-pic
                  img#pageloader(src=siteurl+'app/site/public/images/loader.gif',style='display:none')
            .righ-side-pic
              input.blue-btn.upload-result.cropbtn(value='Crop', type='button',style='display:none')
              input.blue-btn.continuebtn(value=__('استمر'), type='submit')




 
