extends layout_ar

block vars
  - var title='Step 2'
  - var description = 'Maidac Tasker Registration'
block content
  form(action='/mobile/provider/arabic/register/step3?lang='+lang, method='post', name="basicinfo" ,id="step2")
    .applyto-tasker.apply1
      .container2
        .full-holder
          input#accountsuccess(type='hidden', name='accountsuccess', value='')
          //h1.top-texts Apply To Be A Tasker
          h1.top-textsinput(class='backbutton',action='action', type='button', value='Back', onclick='window.history.back()') #{ __("الى الخلف") } | #{ __("تقدم بطلب") }  #{تاسكر}
          .tasker-pannel
            .tasker-head
            .tasker-body
              .lop-div-task.dobcal
                span.topedtext  #{ __("تاريخ الولادة") }
                span.topedtext #{ __("يجب أن يكون العمر فوق 18 عامًا") }
                ul.list-inline.dop-flds
                  li
                  input#example4.example(type='hidden')


              .lop-div-task
                span.topedtext #{ __("	أين تعيش") }?
                .botom-fuls
                  ul.wher-live.list-inline
                    li
                      label #{ __("عنوان") }
                      input#autocomplete(type='text', name='address', onfocus="geolocate()",  placeholder=__('أدخل عنوان الشارع الخاص بك'), value="" required)
                    li
                      label #{ __("منزل / شقة رقم") }
                      input#unitnumber(type='text', name='unitnumber', value='', placeholder=__('أدخل منزلك / رقم الشقة'))
                    li
                      label  #{ __("الرمز البريدي") }
                      input#postal_code.field(type='text', name='zipcode', value='', placeholder=__('أدخل رمزك البريدي'))
                    li
                      input#submit_btn.grn-btn.blu-btn(type='submit', value=__('استمر'),onclick='return dob()')

    script(type='text/javascript', src=siteurl+'app/mobile/register/js/autofill.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQf62-B7tXQJlTgLcv7kNAG1m7UCX4kL0&libraries=places&callback=initAutocomplete", async="", defer="")
